.loading{
	background: white;
	position: fixed;
	color:black;
	padding-top: 150px;
	padding-left: 35%;
	padding-right: 35%;
	align-content: center;
}
.card-deck{
	margin-top:50px;
	text-align: center;
}

.infected{
	border-bottom: 10px solid blue;
}

.recovered{
	border-bottom: 10px solid green;
}

.deaths{
	border-bottom: 10px solid red;
}